
$coral: coral;



body {background-image: url("https://www.institutculinaire.fr/sites/default/files/page/desktop/header-formation-patisserie-eclair.jpg");
  background-size: cover;
  text-align: center;
  font-family: Ubuntu;

}
@mixin row{
  display: flex;
  justify-content: space-around;
}
.container {
  margin: 0 300px;
@include menu-bonjour-container;
}

.menu{
  padding: 20px 0;
@include row;
  list-style: none;
  text-align: center;
  font-size: 30px;
}

@mixin menu-bonjour-container {
  background-color: rgba(82, 25, 25, 0.44);

}
.wp-block-embed__wrapper {
  padding: 0 200px;
}
.text_hp, a{
  $coral
}
h1{
  color: brown;
}
.card-body{
margin: 20px;
}
.size-full{
  height: auto;
  width: auto;
}

