$bgb: rgba(82, 25, 25, 0.44);
$coral: coral;



body {background-image: url("https://www.institutculinaire.fr/sites/default/files/page/desktop/header-formation-patisserie-eclair.jpg");
  background-size: cover;
  text-align: center;
  font-family: Ubuntu;

}
@mixin flex{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.row {
  @include flex;
}
.container {
  margin: 0 300px;
background-color: $bgb;
}

.menu{
  padding: 20px 0;
@include flex;
  list-style: none;
  text-align: center;
  font-size: 30px;
}

.menu-bonjour-container {
  background-color: $bgb

}
.wp-block-embed__wrapper {
  padding: 0 200px;
}
.text_hp, a{
  color: $coral;
}
h1{
  color: brown;
}
.card-body{
margin: 20px;
}
.size-full{
  height: auto;
  width: auto;
}
.breadcrumbs {
  background-color: $bgb;
  margin: 5px 40%;
}

